#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: float;
  font-family: 'Times New Roman', Times, serif; 
}


table {
  border-collapse: collapse; /*  adjacent borders are merged */
  width: 100%; /* table full width */
}

th, td {
  border: 1px solid rgb(7, 5, 71); /* White border for cells */
  padding: 8px; 
  text-align: left;
  
}



tr:hover {
  background-color: #f0ffb4; /* Optional: Adds a hover effect to rows */
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 2, 3); 
  font-family: Arial, Helvetica, sans-serif;
  
}

th {
  background-color: #f0ffb4; /* Dark background for header */
  color: rgb(18, 34, 98); /* text color for contrast */
  text-transform: uppercase;
  font-weight: bold;
}

p {
  background-color: #f0ffb4;
  color: rgb(18, 34, 98);
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}




